# <center>Introduction to Data Analysis in </center>
    
<center><img src="https://www.python.org/static/community_logos/python-logo-inkscape.svg" alt="Python" width=300/> </center>

# <center>using </center>

<center><a href="https://pandas.pydata.org/docs/index.html"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/Pandas_logo.svg" alt="Pandas" width=300/></a></center>

# <center>What is <img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/Pandas_logo.svg" alt="Pandas" width=150/>?</center>

**pandas** is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

# <center>What is <img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/Pandas_logo.svg" alt="Pandas" width=150/> for?</center>

* **pandas** is the right tool when working with tabular data
    * such as data stored in spreadsheets or databases

* **pandas** will help you to 
    * explore
    * clean
    * transform
    * merge 
    * process

* In **pandas**, a data table is called a ``DataFrame``
<center><a href="https://pandas.pydata.org/docs/getting_started/index.html"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/01_table_dataframe.svg" alt="Pandas DataFrame" width=500/></a></center>

* In **pandas**, a column of a data table is called a `Series`
    * A `DataFrame` is a collection of `Series`

With [pandas](http://pandas.pydata.org) you can 
1. Import many types of data, including
    * CSV files
    * Tab or other types of delimited files 
    * Excel (xls, xlsx) files
    * Stata files

2. Open files directly from a website
3. Merge, select, join data
4. Perform statistical analyses
5. Create plots of your data

and much more.

* **pandas** is imported as
```python
import pandas as pd
```
I suggest you follow this convention, which will make using other people's code and snippets easier.

In [ ]:
# Let's import pandas and some other basic packages we will use 
from __future__ import division
%matplotlib inline
import os
import matplotlib.pyplot as plt
import numpy as np
np.random.seed(123456)
import pandas as pd

# <center>How to create a <img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/Pandas_logo.svg" alt="Pandas" width=150/> `Series`?</center>

# Create a New `Series`
<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#min-tut-01-tableoriented"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/main/pics/01_table_series.svg" alt="Pandas DataFrame" width=20%/></a></center>

* To create a new [`Series`](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)
```python
my_new_series = pd.Series(a_list_with_data, 
                          name='Name of Column in data table')
```

In [ ]:
first_names = pd.Series(['Taylor', 'John', 'Fela', 'Manu', 'Åžebnem'], name='First Name')
first_names

In [ ]:
last_names = pd.Series({0:'Swift',
                        1:'Lennon',
                        2:'Kuti',
                        3:'Chau', 
                        4:'Ferrah'}, name='Last Name')
last_names

In [ ]:
age = pd.Series(np.random.randint(33, 85, size=5), name='Age')
age

# <center>How to create a <img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/Pandas_logo.svg" alt="Pandas" width=150/> `DataFrame`?</center>

# Create a New `DataFrame`
<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#min-tut-01-tableoriented"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/01_table_dataframe.svg" alt="Pandas DataFrame" width=500/></a></center>

* To create a new [`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)
```python
df = pd.DataFrame({'Column1 Name':column_1_data, 
                   'Column2 Name':column_2_data, 
                   'Column3 Name':column_3_data, 
                   ...
                  })
```

In [ ]:
musicians = pd.DataFrame({'First Name':first_names, 
                          'Last Name':last_names, 
                          'Age':age})
musicians

In [ ]:
musicians.dtypes

In [ ]:
musicians['Age'] = musicians['Age'].astype(int)

In [ ]:
musicians.dtypes

* To create a new [`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)
```python
df = pd.DataFrame(a_list_of_series_or_raw_data,
                  columns=list_with_column_names,
                  index=list_of_indices_if_you_need).T
```

In [ ]:
musicians = pd.DataFrame([first_names, last_names, age]).T
musicians

In [ ]:
musicians.dtypes

In [ ]:
musicians['Age'] = musicians['Age'].astype(int)

In [ ]:
musicians.dtypes

* To create a new [`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)
```python
df = pd.DataFrame(a_list_of_series_or_raw_data,
                  columns=list_with_column_names,
                  index=list_of_indices_if_you_need).T
```

In [ ]:
random_data = pd.DataFrame(np.random.normal(size=(5,3)), columns=['Random Series 1', 'Random Series 2', 'Random Series 3'])
random_data

# Import and Export Data

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html#min-tut-02-read-write"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/02_io_readwrite.svg" alt="Pandas" width=700/></center>

# Import Existing Data

**pandas** supports the integration with many file formats or data sources
* csv
* excel
* sql
* json
* parquet
* Stata
* HTML

To import data in a specific format you use the function with the prefix `read_*`, e.g.,  
* csv: [`pd.read_csv(path_to_file, other options and settings)`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
* excel: [`pd.read_excel(path_to_file, other options and settings)`](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)
* stata: [`pd.read_stata(path_to_file, other options and settings)`](https://pandas.pydata.org/docs/reference/api/pandas.read_stata.html)
* html: [`pd.read_html(url_or_path_to_file, other options and settings)`](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html)

# Export Data

To export data in a specific format you use the function with the prefix `to_*`, e.g.,  
* csv: [`pd.to_csv(path_to_file, other options and settings)`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)
* excel: [`pd.to_excel(path_to_file, other options and settings)`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html)
* stata: [`pd.to_stata(path_to_file, other options and settings)`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_stata.html)

## Let's write our dataframe to file (try different formats)

In [ ]:
pathout = './data/'
musicians.to_csv(pathout + 'musicians.csv', encoding='utf8', index=False)
musicians.to_excel(pathout + 'musicians.xlsx', index=False)

## Let's read our dataframe from file (try different formats) and put it into different dataframes

In [ ]:
pathout = './data/'
musicians_csv = pd.read_csv(pathout + 'musicians.csv', encoding='utf8')
musicians_csv

In [ ]:
musicians_excel = pd.read_excel(pathout + 'musicians.xlsx')
musicians_excel

# Create New Columns/Variables

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html#min-tut-05-columns"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/05_newcolumn_2.svg" alt="New Columns" width=700/></a></center>

# From Other Columns/Variables

* To create a new column in a dataframe from other columns in the dataframe just perform any operations on the existing variables

* All operations are performed across all rows

* E.g., to create the new variable $Y$ defined as $Y=2\cdot X^2-\ln(Z)$, where $X$ and $Z$ are existing variables
```python
df['Y'] = 2 * df['X']**2 - df['Z'].apply(np.log)
```

# From a `list` or `numpy.array`

* To create a new column in the dataframe from a list or array, just define the new column to be equal to the list or array
```python
df['new variable'] = list_or_array
```

<div class="alert alert-block alert-danger">
<b>Careful:</b> The list or array must have the same dimension as the dataframe. Check it using <code>df.shape</code> and <code>array.shape</code> or <code>len(list)</code>
</div>

In [ ]:
musicians['Gender'] = ['Female', 'Male', 'Male', 'Male', 'Female']
musicians

In [ ]:
random_data['New Series'] = random_data['Random Series 1'] * random_data['Random Series 2']
random_data

# Applying Functions to Dataframe

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html#min-tut-05-columns"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/05_newcolumn_2.svg" alt="New Columns" width=700/></a></center>

* **pandas** also let's you apply a function to a column or to the whole dataset using the `apply` function.

* To apply a function to the whole dataset:
```python
df.apply(my_function, axis=1)
```
This is useful when the function uses data from various columns

* To apply a function to only a column:
```python
df['My Column'].apply(my_function, axis=1)
```
or
```python
df.my_column.apply(my_function, axis=1)
```

In [ ]:
musicians['Young Female'] = (musicians['Age']<35) * (musicians['Gender']=='Female')
musicians['Young Female (as integer)'] = (musicians['Age']<35) * (musicians['Gender']=='Female').astype(int)
musicians

In [ ]:
random_data['Some Transformation'] = random_data.apply(lambda x: x['New Series'] - x['Random Series 3'], axis=1)
random_data

# Select subset of data

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/03_subset_columns_rows.svg" alt="Subset data" width=700/></a></center>

# Select subset of columns

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/03_subset_columns.svg" alt="Subset data" width=700/></a></center>

* To select 1 column and get a `Series`
```python 
df['name of column']
```
or 
```python 
df.name_of_column
```

<div class="alert alert-block alert-danger">
<b>Careful:</b> The second method only works if there are no spaces in the name of the variable/row.
</div>

In [ ]:
musicians['First Name']

* To select a subset of columns and get a `DataFrame`
```python 
df[list_of_columns]
```
* In particular, to get a `DataFrame` from a single column
```python 
df[['name of column']]
```

In [ ]:
musicians[['First Name', 'Age']]

<div class="alert alert-block alert-info">
    <b>Note:</b> Notice the small difference when selecting <b>a unique column</b>
</div>

# Select subset of rows

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/03_subset_rows.svg" alt="Subset data" width=700/></a></center>

* To select specific rows, you need to pass the index of the rows you want and use `df.iloc`.
    
    E.g., if you want the observations in index [0,2,5,9], then
    ```python
    df.iloc[[0,2,5,9]]
    ```

* To select rows that satisfy a condition, e.g., variable_1>0, use `df.loc`

    ```python
    df.loc[df['variable_1']>0]
    ```

* or more generally
    
    ```python
    df.loc[condition to be satisfied by data in df]
    ```

In [ ]:
musicians.iloc[0]

In [ ]:
musicians['First Name'].loc[musicians['Age']<50]

# Select subset of rows and columns

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/03_subset_columns_rows.svg" alt="Subset data" width=700/></a></center>

* To select jointly a subset of rows that satisfy a condition and some of the variables
```python
df.loc[condition to be satisfied by data in df, list_of_columns]
```
e.g., select rows that satisfy `variable_1>0` and only the subset of columns `['variable_1', 'variable_2']`
```python
df.loc[df['variable_1']>0, ['variable_1', 'variable_2']]
```

In [ ]:
musicians.loc[(musicians['Age']>=50) & (musicians['Gender']=='Female') , ['First Name', 'Last Name']]

# Create Statistics for Columns in Dataframe

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html#min-tut-06-stats"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/06_reduction.svg" alt="groupby" width=700/></a></center>

The **pandas** `DataFrame` has various properties that compute statistics based on columns in the dataframe
* mean
* min
* max
* std
* median
* quantile

These statistics can be computed across rows or columns

* Statistic across rows (for all columns): `df.statistic()` or `df.statistic(axis=0)`

* Statistics across columns: `df.statistic(axis=1)`

The special method `describe` generates various summary statistics
```python
df.describe()
```

<div class="alert alert-block alert-info">
    <b>Note:</b> You can apply these statistics to a single column or a subset of columns.
</div>

In [ ]:
musicians.describe()

In [ ]:
musicians['Mean Age'] = musicians['Age'].mean()
musicians

# Apply Functions or Create Aggregate Statistics by Groups of Rows

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html#min-tut-06-stats"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/06_groupby.svg" alt="groupby" width=700/></a></center>

* To generate statistics or apply functions my groups in the data we use the `groupby` method

* To generate a dataframe that contains the statistics for each group defined by columns named `Variable1` and `Variable2`
    
```python
df.groupby(['Variable1', 'Variable2']).statistic()
```

* To apply a function to all rows in each group and generate a dataframe with the group level result
```python
df.groupby(['Variable1', 'Variable2']).apply(my_function)
```

In [ ]:
musicians_gender = musicians.groupby(['Gender']).mean(numeric_only=True)
musicians_gender

## Notice the rows are not numbered now, but are using the `Gender` categories, so we can select rows using them

In [ ]:
musicians_gender.loc['Female']

## If you want to put the categories back to columns and have numbers as indices, use the `reset_index()` function

In [ ]:
musicians_gender = musicians_gender.reset_index()
musicians_gender

# Plot Data

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/04_plotting.html#min-tut-04-plotting"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/04_plot_overview.svg" alt="Plotting" width=700/></a></center>

**pandas** can easily create various types of plots based on the data
* Plot all variables, where $x$ is the index
```python
df.plot()
```

* Plot only one specific variable (against the index)
```python
df['variable'].plot()
```
or
```python
df.variable_name.plot()
```

* Plot `variable X` against `variable Y`
```python
df.plot.scatter(x='Variable X', y='Variable Y')
```

* Other plot types:
    * Box plot: `df.plot.box()`
    * Area plot: df.plot.area()
    * (Vertical) Bar plot: df.plot.bar()
    * (Horizontal) Bar plot: df.plot.barh()
    * Density plot: df.plot.density()
    * Historam: df.plot.hist()
    * KDE plot: df.plot.kde()
    * Pie Chart: df.plot.pie()

In [ ]:
random_data.plot.scatter(x='New Series', y='Some Transformation', 
                         color='r', s=50, label='Very Important Relation!')

## **pandas** uses `matplotlib`, so we can pass options or use axes and figures as we learned before

## We can also pass **pandas** dataframes to **seaborn**, **statsmodels**, and many other packages

# Reshape DataFrame

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/07_reshape_table_layout.html#min-tut-07-reshape"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/07_melt.svg" alt="melt" width=500/><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/07_pivot.svg" alt="pivot" width=500/></a></center>

## Many times you may need to reshape you data
* To be used in other python commands
* For further processing

# Reshape DataFrame From Wide To Long

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/07_reshape_table_layout.html#min-tut-07-reshape"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/07_melt.svg" alt="melt" width=700/></center>

## Original dataframe has units (countries, households, individuals) in rows and variables or yearly observations in columns

## New dataframe has unit $\times$ variable/year in each row and values in columns

## Useful commands
* [`pd.wide_to_long(df, stubnames, i, j, sep='', suffix='\\d+')`](https://pandas.pydata.org/docs/reference/api/pandas.wide_to_long.html)
* [`pd.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=True)`](https://pandas.pydata.org/docs/reference/api/pandas.melt.html#pandas.melt)
* [`df.melt(id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=True)`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.melt.html#pandas.DataFrame.melt)
* [`df.stack(level=- 1, dropna=True)`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.stack.html#pandas.DataFrame.stack)

<center><a href="https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-stacking"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/reshaping_melt.png" alt="melt" width=700/></center>

<center><a href="https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-stacking"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/reshaping_stack.png" alt="melt" width=700/></center>

# Reshape DataFrame From Long To Wide

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/07_reshape_table_layout.html#min-tut-07-reshape"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/07_pivot.svg" alt="pivot" width=700/></center>

## Original dataframe has unit $\times$ variable/year in each row and values in columns

## New dataframe has units (countries, households, individuals) in rows and variables or yearly observations in columns

## Useful commands
* [`pd.pivot(data, index=None, columns=None, values=None)`](https://pandas.pydata.org/docs/reference/api/pandas.pivot.html#pandas.pivot)
* [`df.pivot(index=None, columns=None, values=None)`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html#pandas.DataFrame.pivot)
* [`df.unstack(level=- 1, fill_value=None)`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.unstack.html#pandas.DataFrame.unstack)

<center><a href="https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-by-pivoting-dataframe-objects"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/reshaping_pivot.png" alt="melt" width=700/></center>

<center><a href="https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-by-stacking-and-unstacking"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/reshaping_unstack.png" alt="melt" width=700/></center>

# Combine Data from Multiple DataFrames

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/08_combine_dataframes.html#min-tut-08-combine"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/08_concat_row.svg" alt="concatenate" width=700/></center>

# Concatenating Dataframes

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/08_combine_dataframes.html#min-tut-08-combine"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/08_concat_row.svg" alt="concatenate" width=700/></center>

## **pandas** let's you easily concatenate various `Series` or `DataFrames` to create a new `DataFrame`
[`pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

```python
pd.concat([df1, df2, df3])
```

<center><a href="https://pandas.pydata.org/docs/user_guide/merging.html#concatenating-objects"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/merging_concat_basic.png" alt="concatenate" width=500/></center>

```python
pd.concat([df1, df4], axis=1)
```

<center><a href="https://pandas.pydata.org/docs/user_guide/merging.html#concatenating-objects"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/merging_concat_axis1.png" alt="concatenate" width=1000/></center>

```python
pd.concat([df1, df4], axis=1, join='inner')
```

<center><a href="https://pandas.pydata.org/docs/user_guide/merging.html#concatenating-objects"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/merging_concat_axis1_inner.png" alt="concatenate" width=1000/></center>

# Merging/Joining Dataframes

<center><a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/08_combine_dataframes.html#join-tables-using-a-common-identifier"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/08_merge_left.svg" alt="concatenate" width=1000/></center>

## **pandas** let's you easily merge/join `Series` or `DataFrames` to create a new `DataFrame`

* [`pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)`](https://pandas.pydata.org/docs/reference/api/pandas.merge.html)

* [`df.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)

```python
pd.merge([left, right])
```
or
```python
left.merge(right)
```
or
```python
right.merge(left)
```

<center><a href="https://pandas.pydata.org/docs/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/merging_merge_on_key.png" alt="concatenate" width=700/></center>

```python
pd.merge([left, right])
```
or
```python
pd.merge([left, right], on=["key1", "key2"])
```

<center><a href="https://pandas.pydata.org/docs/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/merging_merge_on_key_multiple.png" alt="concatenate" width=1000/></center>

```python
pd.merge([left, right], how="left", on=["key1", "key2"])
```
or
```python
left.merge(right, how="left", on=["key1", "key2"])
```
or
```python
right.merge(left, how="right", on=["key1", "key2"])
```

<center><a href="https://pandas.pydata.org/docs/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/merging_merge_on_key_left.png" alt="concatenate" width=1000/></center>

```python
pd.merge([left, right], how="right", on=["key1", "key2"])
```
or
```python
left.merge(right, how="right", on=["key1", "key2"])
```
or
```python
right.merge(left, how="left", on=["key1", "key2"])
```

<center><a href="https://pandas.pydata.org/docs/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/merging_merge_on_key_right.png" alt="concatenate" width=1000/></center>

```python
pd.merge([left, right], how="outer", on=["key1", "key2"])
```
or
```python
left.merge(right, how="outer", on=["key1", "key2"])
```
or
```python
right.merge(left, how="outer", on=["key1", "key2"])
```

<center><a href="https://pandas.pydata.org/docs/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging"><img src="https://raw.githubusercontent.com/SMU-Econ-Growth/EconGrowthUG-Notebooks/c004a90a03c3633fd05cdbce96647e229fdc21d8/pics/merging_merge_on_key_outer.png" alt="concatenate" width=1000/></center>

# Many Other Options and Possibilities
* [Working with Time Series](https://pandas.pydata.org/docs/getting_started/intro_tutorials/09_timeseries.html#min-tut-09-timeseries)
* [Working with Text](https://pandas.pydata.org/docs/getting_started/intro_tutorials/10_text_data.html#min-tut-10-text)

# <center>Examples</center>

# Example - Import data

## Let's import the table of countries' ISO codes from [Wikipedia](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes)

In [71]:
# Import display options for showing websites
from IPython.display import IFrame
url = 'https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes'
IFrame(url, width=800, height=400)

In [ ]:
isocodes = pd.read_html(url, encoding='utf-8')[0]
isocodes

## Not perfect, but we can correct it and make it look nice

In [ ]:
isocodes.columns

## First, let's drop the first column index

In [ ]:
isocodes = isocodes.droplevel(0, axis=1)
isocodes.head()

## Second, let's correct column names

In [ ]:
mycols = isocodes.columns
mycols = [c[:c.find('[')] for c in mycols]
mycols

In [ ]:
isocodes.columns = mycols
isocodes.head()

## Third, let's correct `Alpha-2 code` using `Subdivision code links`

In [ ]:
isocodes['Alpha-2 code original'] = isocodes['Alpha-2 code']
isocodes['Alpha-2 code'] = isocodes['Subdivision code links'].apply(lambda x: x[x.find(':')+1:])
isocodes.head()

## Now, let's import the table of countries' GDP per capita (PPP) from [Wikipedia](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita)

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita'
IFrame(url, width=800, height=400)

In [ ]:
gdppc_wiki = pd.read_html(url, encoding='utf-8')[1]
gdppc_wiki

## Again we need to clean the data a little bit

In [ ]:
gdppc_wiki.columns = ['Country/Territory', 'UN Region', 'gdppc_IMF', 'year_IMF',
                      'gdppc_WB', 'year_WB', 'gdppc_CIA', 'year_CIA']
gdppc_wiki.head()

## Let's eliminate the * in the country names

In [ ]:
gdppc_wiki['country_name'] = gdppc_wiki['Country/Territory'].str.replace('*', '', regex=True).str.strip()
gdppc_wiki.head()

# Let's make sure years and GDPpc columns are treated as numbers

In [ ]:
gdppc_wiki.dtypes

In [ ]:
for c in gdppc_wiki.columns[2:-1]:
    if gdppc_wiki[c].dtype=='O':
        gdppc_wiki[c] = pd.to_numeric(gdppc_wiki[c].str.replace('â€”', 'nan'), errors='coerce')
        if c.startswith('year'):
            gdppc_wiki[c] = gdppc_wiki[c].astype('Int64')

In [ ]:
gdppc_wiki.dtypes

## Let's try to merge the data from both dataframes

In [ ]:
isocodes.head(2)

In [ ]:
gdppc_wiki.head(1)

## The only common information in both dataframes is the country's name, so let's merge using the corrected `country_name` and `Country name`

In [ ]:
merged = isocodes.merge(gdppc_wiki, left_on='Country name', right_on='country_name')
merged

<div class="alert alert-block alert-danger">
<b>Careful:</b> Remember that <code>merge</code> will create a complete dataset only for the countries that have common names in both.
</div>

In [ ]:
merged.shape

## What are the not common country names in both dataframes?

In [ ]:
isocodes_names = set(isocodes['Country name'])
gdppc_wiki_names = set(gdppc_wiki['country_name'])

In [ ]:
isocodes_names.difference(gdppc_wiki_names)

In [ ]:
gdppc_wiki_names.difference(isocodes_names)

## Clearly to create the full dataset, we'd need to standardize the country names.

## This is a major reason to use ISO CODES!

## We'll learn methods to do this in another lecture, for now let's use the merged subset

# Simple Plots

In [ ]:
# Set the size of the figure and get a figure and axis object
fig, ax = plt.subplots(figsize=(10,6))
merged.gdppc_CIA.plot.kde(ax=ax, label='CIA')
merged.gdppc_IMF.plot.kde(ax=ax, label='IMF')
merged.gdppc_WB.plot.kde(ax=ax, label='WB')
ax.legend()

In [ ]:
# Set the size of the figure and get a figure and axis object
fig, ax = plt.subplots(figsize=(10,6))
merged.gdppc_CIA.plot.hist(ax=ax, label='CIA')
merged.gdppc_IMF.plot.hist(ax=ax, label='IMF', alpha=0.6)
merged.gdppc_WB.plot.hist(ax=ax, label='WB', alpha=0.3)
ax.legend()

In [ ]:
# Set the size of the figure and get a figure and axis object
fig, ax = plt.subplots(figsize=(10,6))
merged.plot.scatter(x='gdppc_WB', y='gdppc_CIA', ax=ax, label='WB-CIA', c='r')
merged.plot.scatter(x='gdppc_WB', y='gdppc_IMF', ax=ax, label='WB-IMF', c='b')
ax.set_xlabel('World Bank')
ax.set_ylabel('Other Source')
ax.legend(loc='lower right')

# Example - Create Data

Let's create a `DataFrame` with some artificial data for some countries. 
1. Create `Series` of countries
2. Create `Series` of data for each country
3. Create `DataFrame`

In [ ]:
countries = pd.Series(['Colombia', 'Turkey', 'United States', 'Germany', 'Chile'], name='country')
countries

In [ ]:
print('\n', 'There are ', countries.shape[0], 'countries in this series.')

## We can apply a function on the data using the `apply` method. 
E.g., let's find the length of each country name using the `len` function.

In [ ]:
countries.apply(len)

Let's create the data using some of the functions we already learned.

In [ ]:
np.random.seed(123456)
data = pd.Series(np.random.normal(size=(countries.shape)), name='noise')
data

## We can perform certain computation using some of the properties of the `pd.Series`:
* mean
* std
* max

In [ ]:
print('\n', 'The average in this sample is ', data.mean())
print('\n', 'The average in this sample is ', "{:.2f}".format(data.mean()))
print('\n', 'The maximum in this sample is ', "{:.2f}".format(data.max()))
print('\n', 'The standard deviation in this sample is ', "{:.2f}".format(data.std()))

Here we have used the ``mean()`` function of the series to compute its mean. There are many other properties/functions for these series including ``std()``, ``shape``, ``count()``, ``max()``, ``min()``, etc. You can access these by writing ``series.name_of_function_or_property``. To see what functions are available you can hit ``tab`` after writing ``series.``.

## We can transform the data using the `apply` method

In [ ]:
data.apply(np.exp)

## Let's create a ``pd.DataFrame`` using these two series.

## Method 1

In [ ]:
df = pd.DataFrame([countries, data])
df

Not exactly what we'd like, but don't worry, we can just transpose it so it has each country with its data in a row.

In [ ]:
df = df.T
df

## Method 2

In [ ]:
df = pd.concat([countries, data], axis=1)
df

## Method 3

In [65]:
df = pd.DataFrame({'country':countries,
                   'noise':data})
df

         country     noise
0       Colombia  0.469112
1         Turkey -0.282863
2  United States -1.509059
3        Germany -1.135632
4          Chile  1.212112

## Adding more variables/rows

Now let us add some more data to this dataframe. This is done easily by defining a new column. 

Let's create the square of ``noise``, create the sum of ``noise`` and its square, and get the length of the country's name.

In [66]:
df['noise_sq'] = df.noise**2
df['noise and its square'] = df.noise + df.noise_sq
df['name length'] = df.country.apply(len)
df

         country     noise  noise_sq  noise and its square  name length
0       Colombia  0.469112  0.220066              0.689179            8
1         Turkey -0.282863  0.080012             -0.202852            6
2  United States -1.509059  2.277258              0.768199           13
3        Germany -1.135632  1.289661              0.154029            7
4          Chile  1.212112  1.469216              2.681328            5

This shows some of the ways in which you can create new data. 

Especially useful is the ``apply`` method, which applies a function to the series. 

You can also apply a function to the whole dataframe, which is useful if you want to perform computations using various columns.

Let's see some other ways in which we can interact with dataframes.

## First, let's identify some observations, e.g., all countries in the South America.

## Let's create a list of South American countries

In [67]:
south_america = ['Colombia', 'Chile']

## Let's create a new dummy variable that identifies countries in South America 
## using `apply` and our `south_america` list

In [68]:
df['South America Logical'] = df.country.apply(lambda x: x in south_america)
df

         country     noise  noise_sq  noise and its square  name length  South America Logical
0       Colombia  0.469112  0.220066              0.689179            8                   True
1         Turkey -0.282863  0.080012             -0.202852            6                  False
2  United States -1.509059  2.277258              0.768199           13                  False
3        Germany -1.135632  1.289661              0.154029            7                  False
4          Chile  1.212112  1.469216              2.681328            5                   True

## Notice the new column takes on *logical* values, i.e., `True` or `False`

## More useful to have numerical values, where `1:True` and `0:False`

## Method 1: Dictionary and `map`

In [69]:
mydict = {True:1,
          False:0}
df['South America Dict'] = df['South America Logical'].map(mydict)
df

         country     noise  noise_sq  noise and its square  name length  South America Logical  South America Dict
0       Colombia  0.469112  0.220066              0.689179            8                   True                   1
1         Turkey -0.282863  0.080012             -0.202852            6                  False                   0
2  United States -1.509059  2.277258              0.768199           13                  False                   0
3        Germany -1.135632  1.289661              0.154029            7                  False                   0
4          Chile  1.212112  1.469216              2.681328            5                   True                   1

## Method 2: Change type

In [70]:
df['South America'] = df.country.apply(lambda x: x in south_america).astype(int)
df

         country     noise  noise_sq  noise and its square  name length  South America Logical  South America Dict  South America
0       Colombia  0.469112  0.220066              0.689179            8                   True                   1              1
1         Turkey -0.282863  0.080012             -0.202852            6                  False                   0              0
2  United States -1.509059  2.277258              0.768199           13                  False                   0              0
3        Germany -1.135632  1.289661              0.154029            7                  False                   0              0
4          Chile  1.212112  1.469216              2.681328            5                   True                   1              1

# <center>Exercises</center>

<div class="alert alert-block alert-warning">
<b>Exercise 0:</b> Create a new folder and notebook called <b>Intro-Data-Analysis-Pandas-Exercises</b> where you will perform all the exercises below. Make sure to copy any code you need from this notebook to that one. You will use that folder to create a new GitHub repo with the code, html, and slides as usual.
</div>

<div class="alert alert-block alert-warning">
<b>Exercise 1:</b> Create a new dataframe <code>pop</code> with population data downloaded from <a href="https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)">Wikipedia</a>. Make sure to clean the data so it can be used further.
</div>

<div class="alert alert-block alert-warning">
<b>Exercise 2:</b> Merge the <code>isocodes</code> and <code>pop</code> dataframes.
</div>

<div class="alert alert-block alert-warning">
<b>Exercise 3:</b> Merge the dataframes we have created so far to have a unique dataframe that has ISO codes, GDP per capita, and population data.
</div>

<div class="alert alert-block alert-warning">
<b>Exercise 4:</b> Use the <code>os</code> package to create folders to export data and figures. 
Since you will be using the names of these folders a lot, save their names in variables called <code>path</code>, <code>pathout</code>, and <code>pathgraphs</code>, where <code>path = './data/'</code>, <code>pathout = './data/'</code>, and <code>pathgraphs = './graphs/'</code>
</div>

<div class="alert alert-block alert-warning">
    <b>Exercise 5:</b> Save the dataframe created in Exercise 3 as a <b>CSV, XLSX, and Stata</b> file into the <code>pathout</code> folder. Use a variable called <code>filename = 'Wiki_Data'</code> so you can use similar code to save all file types. Notice only the filetype will change.
</div>

<div class="alert alert-block alert-warning">
<b>Exercise 6:</b> Create plots showing the relation between GDP per capita and Population. Create all 4 types of possible regression plots and save them as <b> PNG, PDF, and JPG</b> files. Make sure to save them in the folder you created for <b>graphs</b>
</div>

<div class="alert alert-block alert-warning">
<b>Exercise 7:</b> Create plots showing the relation between GDP per capita and Population Growth. Create all 4 types of possible regression plots and save them as <b> PNG, PDF, and JPG</b> files. Make sure to save them in the folder you created for <b>graphs</b>
</div>

<div class="alert alert-block alert-warning">
<b>Exercise 8:</b> Using the notebook create slides for presenting your work and results. Once you have your slides, create a new public repo, publish it, and make sure to create a READ.ME file that show links to the notebook, html, and slides. Also, create the gh-pages branch to have a working slides webpage.
</div>

Notebook written by [Ã–mer Ã–zak](http://omerozak.com) for his students in Economics at [Southern Methodist University](http://www.smu.edu). Feel free to use, distribute, or contribute.

[<center><img src="https://github.com/measuring-culture/Expanding-Measurement-Culture-Facebook-JRSI/blob/main/pics/SMUlogowWordmarkRB.jpg?raw=true" width="250"></center>](http://omerozak.com)